<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365379051447-f422sdhv099q21bpfg0a090ibv2njq20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365379051447-f422sdhv099q21bpfg0a090ibv2njq20</string>
	<key>API_KEY</key>
	<string>AIzaSyBqIgxelTIlkqVUsKQ2_5hRvtkJU2KRXsI</string>
	<key>GCM_SENDER_ID</key>
	<string>365379051447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alanood.com.MychatApp</string>
	<key>PROJECT_ID</key>
	<string>tuwaiq-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>tuwaiq-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365379051447:ios:1f54f7f466b0c809225232</string>
	<key>DATABASE_URL</key>
	<string>https://tuwaiq-ios-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>