<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715372563006-ncrs30hrt18bss2mhci011723e4juads.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715372563006-ncrs30hrt18bss2mhci011723e4juads</string>
	<key>API_KEY</key>
	<string>AIzaSyDAgoHWOWj6s6Zqk6OFPNHXYBE-i3LPQoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>715372563006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sara-alzhrani.saraWhatsUp</string>
	<key>PROJECT_ID</key>
	<string>sarachat-664cd</string>
	<key>STORAGE_BUCKET</key>
	<string>sarachat-664cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715372563006:ios:2ccc980bb50f2d2557df6f</string>
</dict>
</plist>