<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774593140003-iq2iki9tjvt51t0bnopckgo5527m9ldr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774593140003-iq2iki9tjvt51t0bnopckgo5527m9ldr</string>
	<key>API_KEY</key>
	<string>AIzaSyANb2jRXRy1m0qdJS8RLis0FuyETpkHcbs</string>
	<key>GCM_SENDER_ID</key>
	<string>774593140003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuna.ChatAp</string>
	<key>PROJECT_ID</key>
	<string>chatapp1-ca87f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp1-ca87f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774593140003:ios:c98241cafdded8192d2896</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp1-ca87f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>