<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182282558666-h85tsp1kknfghh6ms35g0p47en1hnd6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182282558666-h85tsp1kknfghh6ms35g0p47en1hnd6p</string>
	<key>API_KEY</key>
	<string>AIzaSyAbNcv8l3fosxyyG3Q4A37d2lKDkdtkv7s</string>
	<key>GCM_SENDER_ID</key>
	<string>182282558666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saraM.ChatProject1</string>
	<key>PROJECT_ID</key>
	<string>chatproject1-ea498</string>
	<key>STORAGE_BUCKET</key>
	<string>chatproject1-ea498.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182282558666:ios:6e05709219dce235772833</string>
</dict>
</plist>