<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058304705229-nlnj7db5u5adci27n6mlugibht86paua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058304705229-nlnj7db5u5adci27n6mlugibht86paua</string>
	<key>API_KEY</key>
	<string>AIzaSyBLYxP0VEl6-ebKbsRqtSzfZ5iVlxGHaB8</string>
	<key>GCM_SENDER_ID</key>
	<string>1058304705229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>f.Whatsapp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-a5</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058304705229:ios:df2771e87fa26aee0a1f84</string>
</dict>
</plist>