<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228418067921-lohbod98h9fdr7bnnn9lp1t7ll3lattm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228418067921-lohbod98h9fdr7bnnn9lp1t7ll3lattm</string>
	<key>API_KEY</key>
	<string>AIzaSyAeBGkr2puKcOLmIwCSp1p8DwSQLEQ_N-s</string>
	<key>GCM_SENDER_ID</key>
	<string>228418067921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sally.com.mssnger</string>
	<key>PROJECT_ID</key>
	<string>mssngerrr</string>
	<key>STORAGE_BUCKET</key>
	<string>mssngerrr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228418067921:ios:fec9d68ff7ea2513b2d4f0</string>
</dict>
</plist>