<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676660673320-kbp77knkma1baogtqk4onhgcpvfm4284.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676660673320-kbp77knkma1baogtqk4onhgcpvfm4284</string>
	<key>API_KEY</key>
	<string>AIzaSyCjMJN_jQoYyNL0pSpbORrveR3pn15t4-g</string>
	<key>GCM_SENDER_ID</key>
	<string>676660673320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>l.ChatAp</string>
	<key>PROJECT_ID</key>
	<string>chatap-2bb64</string>
	<key>STORAGE_BUCKET</key>
	<string>chatap-2bb64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676660673320:ios:dec9df0686fbbae9916e1d</string>
</dict>
</plist>