<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988306740247-ldtb962pcpm077earoh2emkdukmp48s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988306740247-ldtb962pcpm077earoh2emkdukmp48s1</string>
	<key>API_KEY</key>
	<string>AIzaSyANDnTd2YzXt1OMGsAGT4pUQrfrFTTEpvA</string>
	<key>GCM_SENDER_ID</key>
	<string>988306740247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmed.Chatapp</string>
	<key>PROJECT_ID</key>
	<string>massenger-12</string>
	<key>STORAGE_BUCKET</key>
	<string>massenger-12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988306740247:ios:03f44a986b1c30b9a87852</string>
	<key>DATABASE_URL</key>
	<string>https://massenger-12-default-rtdb.firebaseio.com</string>
</dict>
</plist>