<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837861746115-adu91un5lv3q76b6j818rph7vef7ejra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837861746115-adu91un5lv3q76b6j818rph7vef7ejra</string>
	<key>API_KEY</key>
	<string>AIzaSyB9mIkblLcHJSg3c4bmPS5OBTNqAKr8jog</string>
	<key>GCM_SENDER_ID</key>
	<string>837861746115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kholod.com.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-d6419</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-d6419.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:837861746115:ios:40dff4052cb135d10c0976</string>
</dict>
</plist>
