<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365379051447-pgg62vf4t3ibh5edmsac8il6eq6uqmdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365379051447-pgg62vf4t3ibh5edmsac8il6eq6uqmdv</string>
	<key>API_KEY</key>
	<string>AIzaSyBqIgxelTIlkqVUsKQ2_5hRvtkJU2KRXsI</string>
	<key>GCM_SENDER_ID</key>
	<string>365379051447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tasnim1.chatting</string>
	<key>PROJECT_ID</key>
	<string>tuwaiq-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>tuwaiq-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365379051447:ios:753b11d02146b836225232</string>
	<key>DATABASE_URL</key>
	<string>https://tuwaiq-ios-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>